{% extends 'base.html' %}

{% block content %}
    <div class = "structure">   
    <div class = "sub"><h3>Leave your feedback</h3></div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- # в каждой форме должна быть борьба со взломом  -->
                {{ new_form.as_p }}
                <!-- отрисовали форму -->
                <button type="submit">PUBLISH</button>
                <!-- добавили кнопку -->
            </form>

        </div>
    </div>

{% endblock %} 



