
{% extends 'base.html' %}

{% block content %}
<div class = "sub"><h3>REVIEWS</h3></div>
{% for review  in all_reviews %}

    <div class = "structure">
        <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
            <div class="row1">

                <h3> User name: {{ review.name }}</h3>
                <h3> Feedback:{{ review.message }}
                    {% if review.id in viewed_reviews%}
                    |viewed|
                    {% endif %}
                </h3>
                <h3> date: {{ review.date }}</h3>
            </div>
                <hr>
        </div>
    </div>
{% endfor %}
{% endblock %}
